.personWidgetDiv
{
    cursor:pointer;
}
.personWidgetDiv .unhover
{
    background: #fff;
}
.personWidgetDiv .hover
{
    background: #ddd;
}
.status_img
{
    background:url("./images/status_img.png");
    height:15px;
    width:20px;
}
.status_online
{
    background-position-x: 0px;
}
.status_busy
{
    background-position-x: -20px;
}
.status_away
{
    background-position-x: -40px;
}
.status_offline
{
    background-position-x: -60px;
}
.person_name
{
    font-size:13px;
    font-family: arial, sans-serif;
    cursor:pointer;
}
.person_status
{
    color:#999;
    font-size:9px;
    font-family: arial, sans-serif;
    cursor:pointer;
}
